.box{
    width: 100%;
    height:70px;
    background-color:#2d394b;
    
}
h6{
    color:#9cc9f5;
    font-size: 17px;
    margin:10px;

}
.btn-btn{
    margin-left: 934px;
    color: white;
    background-color: green;
    width: 123px;
    height: 44px;
    border-style: none;
    /* border-radius: 20px 20px 20px 20px; */
    margin-top: -23px;
}
.box2{
    width: 100%;
    height: 83px;
    background-color:black;
    margin-top: -19px;
}
li{
    float: left;
    margin: 10px;
    margin-top: 26px;
    margin-left: 13px;
    list-style-type: none;
    color: white;
    font-size: 20px;
    

}
li:hover{
    color:violet;
}
.box3{
    width: 100%;
    height: 113px;
    background-color:rgb(167, 7, 167);
    /* border-radius: 0px 0px 192px 192px; */
    clip-path:polygon(0 0, 100% 0%, 100% 54%, 52% 29%, 0% 50%);
    
}
.logo-img{
    overflow: hidden;
    color: white;
    margin-left: 470px;
}
/* .icon{
    width: 13px;
    height: 13px;
} */
 .slider{
    width: 100%;
    height: 560px;
    background-color: aqua;
}
.carousel-inner{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.slider-img{
     height:560px;
    overflow: hidden;
    transition: 4s;
    width: 100%;
    

    
} 
.box4{
    width: 100%;
    height: 325px;
    background-color:hotpink;
    float: left;
}